<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3 th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</h3>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<h1>Добавить задачу</h1>
<form name="addtask" action="/add" method="post">
    <div>Номер заказа:</div>
    <input title="task" type="text" name="orderId">
    <input type="submit" value="Не успеваю">`
</form>
</body>
</html>